$mainColor: #2e4b89;
$secondaryColor: #707070;
.container {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid $secondaryColor;
  width: 100%;
  margin: 0 auto;
  margin-top: 10em;
  h2 {
    color: $mainColor;
  }
  .team-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .teammate-card {
    margin: 1.5em 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    max-width: 250px;
    .crop {
      width: 80%;
      img {
        width: 100%;
        height: 230px;
        object-fit: cover;
        margin: 0 auto;
      }
    }

    mat-card-content {
      margin-top: 15px;
      mat-card-title {
        font-weight: 800;
        color: $mainColor;
        margin-bottom: 1em;
        font-size: 1rem;
      }
      .contact-info {
        a {
          color: #3294e5;
        }
        .phone-number {
          color: $secondaryColor;
        }
      }
    }
  }
  @media (max-width: 768px) {
    .team-container {
      flex-direction: row;
      .teammate-card{
        width: 30%;
        padding: 0;
      }
    }
  }
  @media (max-width: 480px) {
    .team-container {
      flex-direction: column;
      align-items: center;
      .teammate-card {
        width: 100%;
        padding: 0;
        margin: 1em;
      }
    }
  }
}
