<ng-container *ngIf="team$ | async as team">
  <ng-container *ngIf="team; else emptyList">
    <div class="container">
      <h2>{{ team.title }}</h2>
      <span>{{ teammateCounter$ | async }}</span>
      <div class="team-container">
        <mat-card
          class="teammate-card"
          *ngFor="let teammate of team.teammates; trackBy: trackByIndex"
        >
          <div class="crop">
            <img
              mat-card-image
              [src]="teammate.imageUrl.w200"
              [alt]="teammate.block.title"
            />
          </div>
          <mat-card-content>
            <blockquote>
              <mat-card-title> {{ teammate.block.title }}</mat-card-title>
              <mat-card-subtitle>{{
                teammate.block.description
              }}</mat-card-subtitle>
              <div class="contact-info">
                <a href="#" appPages>{{ teammate.block.link }} </a>
                <div class="phone-number">{{ teammate.block.text }}</div>
              </div>
            </blockquote>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </ng-container>
</ng-container>
<ng-template #emptyList>
  <p id="empty-list-message">Sorry team list is empty</p>
</ng-template>
